<!DOCTYPE html>
<html>
<head>
    <title>Análise de Dados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4">📈 Análise de Vendas</h1>
        <a href="/" class="btn btn-secondary mb-3">Voltar</a>
        <a href="/vendas" class="btn btn-primary mb-3">Ve
        
        <!-- Bloco de conteúdo específico de cada página -->
        {% block content %}{% endblock %}
    </div>
</body>
</html>